hemlock-user.aux
hemlock-user.log
hemlock-user.??
hemlock-user.??s
hemlock-user.info
hemlock-user.info-*
hemlock-user.toc
hemlock-user.html
hemlock-user.pdf
hemlock-user/*
hemlock-user-html.tar.bz2
hemlock-user-info.tar.bz2