/*~
/public
/docs/hem/user/hemlock-user.aux
/docs/hem/user/hemlock-user.log
/docs/hem/user/hemlock-user.fn
/docs/hem/user/hemlock-user.fns
/docs/hem/user/hemlock-user.info
/docs/hem/user/hemlock-user.toc
*~
/docs/cmu-user/cmu-user_html/
/docs/hem/cim/cim_html/
/docs/hem/user/hemlock-user_html/
/docs/internals/design_html/
