/*~
/public
/docs/hem/user/hemlock-user.aux
/docs/hem/user/hemlock-user.log
/docs/hem/user/hemlock-user.fn
/docs/hem/user/hemlock-user.fns
/docs/hem/user/hemlock-user.info
/docs/hem/user/hemlock-user.toc
*~
