html {
  color: black;
  background-color: white;
  margin-left: 4%;
  margin-right: 2%;
}

h1 {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif
}

h2 {
   color: #515e4b;
   font-family: Helvetica, Arial, sans-serif
}

h3 {
   font-family: Helvetica, Arial, sans-serif;
}

.lisp {
   background: #aaaaaa;
   border:solid #aaaaaa 0.1px;
   white-space:pre;
   font-family: sans-serif;
}

.example {
   background: #cccccc;
   border:solid #cccccc 0.1px;
   white-space:pre;
}

code {
   background: #faf0e6;
   border:solid #faf0e6 1px;
}

.code {
   background: #faf0e6;
   border:solid #faf0e6 1px;
   white-space:pre;
}

.technical {
   background: #dddddd;
   border: solid black 1px;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 1ex;
   padding-bottom: 1ex;
   font-size: smaller;
   font-stretch: semi-condensed;
   margin-left: 10%;
}

.credits {
   background: #eeeeee;
   font-stretch: condensed;
   font-size: 0.8em;
   font-family: Helvetica, Arial, sans-serif;
   text-align: right;
}

.function-name {
   color: rgb(25%,0%,0%);
} 

.variable {
   color: rgb(0%,25%,0%);
}


A:link
{
    text-decoration: none
}
A:active
{
    text-decoration: none
}
A:visited
{
    text-decoration: none
}
A:hover
{
    text-decoration: underline
}

/* The following are for layout of the header, footer, navbar, and
main content */
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}
/* Header is for the CMUCL logo image and top separator bar. We don't 
want any scrollbars here. */
header
{
  grid-column: 1 / span 2;
  overflow: hidden;
}
/* Style for the header iframe. */
.header-frame {
  height: 85px;
  width: 100%;
  border: none;
}
/* The style for the title line of each page */
.heading-line { 
  background-color: #99cc99;
  font-size: x-large;
  font-family: Helvetica
}
/* Footer contins the icons, copyright, validator links, etc.  We don't
want any scrollbars here. */
footer {
  grid-column: 1 / span 2;
  overflow: hidden;
}
/* Style for the footer iframe. */
.footer-frame {
  width: 100%;
  height: 200px;
  border: none;
}  
/* The navigation bar. */
aside {
  background-color: #dadada;
  padding-top: 5px;
  text-align: center;
}
.navlist { 
  display: none;
}
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  /*height: 70px;*/
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  /*margin-left: 25px;*/
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}
#mobile-navlist {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#mobile-navlist .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#mobile-navlist:focus-within .button {
  pointer-events: none;
}
#mobile-navlist:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#mobile-navlist:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#mobile-navlist:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#mobile-nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  /*height: calc(100% - 70px);*/
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#mobile-nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mobile-nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#mobile-nav-content li a:hover {
  color: #BF7497;
}

#mobile-nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#mobile-navlist:focus-within #mobile-nav-content {
  transform: none;
}

/* Highlight to use for selected nav bar item */
.nav-highlight { 
  font-weight: bold;
  background-color: yellow;
}