<header class="site-header">
  <div class="container">
    <div class="header-inner">
      <div class="site-title">
        <a href="{{ '/' | relative_url }}">CMUCL</a>
      </div>
      <nav class="site-nav">
        <ul>
          {% for link in site.nav_links %}
          <li>
            <a href="{{ link.url | relative_url }}"{% if page.url == link.url %} class="active"{% endif %}>
              {{ link.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
