<nav class="sidebar-nav">
  <ul>
    <li><a href="{{ '/FAQ.html' | relative_url }}"{% if page.nav_active == 'FAQ' %} class="nav-highlight"{% endif %}>FAQ</a></li>
    <li><a href="https://gitlab.common-lisp.net/cmucl/cmucl/-/wikis/Benchmarks"{% if page.nav_active == 'benchmarks' %} class="nav-highlight"{% endif %}>Benchmarks</a></li>
    <li><a href="{{ '/credits.html' | relative_url }}"{% if page.nav_active == 'credits' %} class="nav-highlight"{% endif %}>Credits</a></li>
    <li><a href="{{ '/doc/index.html' | relative_url }}"{% if page.nav_active == 'doc' %} class="nav-highlight"{% endif %}>Documentation</a></li>
    <li><a href="{{ '/download.html' | relative_url }}"{% if page.nav_active == 'download' %} class="nav-highlight"{% endif %}>Download</a></li>
    <li><a href="https://gitlab.common-lisp.net/cmucl/cmucl/-/wikis/FAQS/Hemlock"{% if page.nav_active == 'hemlock' %} class="nav-highlight"{% endif %}>Hemlock</a></li>
    <li><a href="{{ '/' | relative_url }}"{% if page.nav_active == 'home' %} class="nav-highlight"{% endif %}>Home</a></li>
    <li><a href="{{ '/install.html' | relative_url }}"{% if page.nav_active == 'install' %} class="nav-highlight"{% endif %}>Install</a></li>
    <li><a href="{{ '/news/index.html' | relative_url }}"{% if page.nav_active == 'news' %} class="nav-highlight"{% endif %}>News</a></li>
    <li><a href="{{ '/platforms.html' | relative_url }}"{% if page.nav_active == 'platforms' %} class="nav-highlight"{% endif %}>Platforms</a></li>
    <li><a href="https://gitlab.common-lisp.net/cmucl/cmucl/-/wikis/ports"{% if page.nav_active == 'ports' %} class="nav-highlight"{% endif %}>Ports</a></li>
    <li><a href="https://gitlab.common-lisp.net/cmucl/cmucl/-/wikis/projects"{% if page.nav_active == 'projects' %} class="nav-highlight"{% endif %}>Projects</a></li>
    <li><a href="{{ '/search.html' | relative_url }}"{% if page.nav_active == 'search' %} class="nav-highlight"{% endif %}>Search</a></li>
    <li><a href="{{ '/support.html' | relative_url }}"{% if page.nav_active == 'support' %} class="nav-highlight"{% endif %}>Support</a></li>
    <li><a href="https://gitlab.common-lisp.net/cmucl/cmucl/wikis/home" target="_blank">Wiki</a></li>
  </ul>
</nav>
