pre.example, pre.example-preformatted, pre.lisp-preformatted {
    border: 1px solid rgb(180,180,180);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(238,238,255);
    overflow: auto;
}
