@import "pygments.default.css";
@import "pygments.gruvbox-dark.css" screen and (prefers-color-scheme: dark);

/*
 * Set a colored background around texinfo @example and @lisp.  The
 * overflow setting is needed so that the background stays with the
 * text instead of being limited by the width of the display.
 *
 * Background color taken from highlightjs purebasic background color.
 * This looks pretty good with the nnfx-light scheme from highlightjs.
 */
pre.example, pre.example-preformatted, pre.lisp-preformatted, pre.verbatim {
    border: 1px solid rgb(180,180,180);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(238,238,255);
    overflow: auto;
}

/*
 * Style for the texinfo navigation panel (Next/Previous/Up)
 */
.nav-panel {
    background-color: #DDDDFF;
}

/*
 * Don't indent the example blocks since we have a background color to
 * separate the box from the text.
 */
div.example {
    margin-left: 0em;
}

div.highlight {
    background-color: rgb(238,238,255) !important; 
}    
