/*.texi~
/cmu-user
/cmu-user.aux
/cmu-user.cp
/cmu-user.cps
/cmu-user.dvi
/cmu-user.fn
/cmu-user.fns
/cmu-user.html
/cmu-user.ilg
/cmu-user.ind
/cmu-user.info*
/cmu-user.log
/cmu-user.pdf
/cmu-user.toc
/cmu-user.tp
/cmu-user.tps
/cmu-user.vr
/cmu-user.vrs
/cmu-user-html.tar.bz2
/cmu-user-info.tar.bz2
